html {
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #bebebe;
}

img {
  width: 100%;
  display: block;
}

header {
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-auto-rows: auto 1.5rem;
  grid-template-areas:
  "left center right"
  ". center .";
  align-items: center;
  margin-bottom: 1.5rem;
}

nav {
  background-color: #bd027d;
  grid-column: 1/-1;
  grid-row: 1;
}

h1 {
  grid-area: center;
  margin: 0;
  z-index: 1;
}

nav ul {
  text-decoration: none;
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a,
nav a:visited {
  color: #fff;
  padding: .5rem .8rem;
  text-decoration: none;
  border: 2px solid #960062;
  font-family: 'PT Sans Narrow' sans-serif;
  border-radius: 6px;
}

nav a:hover,
nav a:focus {
  background-color: #fff;
  color: #bd027d;
  text-decoration: none;
}

main ul > li {
  display: flex;
  border: 2px solid #afafaf;
}

div {
  font-size: 1.125rem;
  background-color: #bebebe;
  border: 2px solid #afafaf;
  padding: .5em;
  height: 1.5rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

div img {
  width: 2rem;

}
section > ul {
display: grid;
grid-template-columns: 1fr 1fr
}

section {
  margin: 1.5rem;
}

h3 {
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid;
  text-align: center;
  padding: 1rem;
  margin: -4rem 0 0;

}

strong {
  text-align: right;
  display: inline-flex;
}

main > p {
  font-family: Georgia, serif;
  border-bottom: 2px solid #afafaf;
  padding-bottom: 1.5rem;
  margin: 1.5rem;
  font-size: 1.25rem;
}

footer > p {
  margin: 0;
}

footer > a {
  margin: 0;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
